    * {
        box-sizing: border-box;
        overflow: hidden;
    }
    
    
    @media ( min-width: 375px ) { 
        body {
        width: 33%;
        font-size: 0.9rem;
        padding: 5px;
        background-color: khaki;
        }
    }
    @media ( min-width: 720px ) {  /** Größerer Viewport: Tablett **/
            body{      
            width: 48%;
            font-size: 1rem;
            padding: 10px;
        }
    }
    
    @media ( min-width: 900px ) { /** Großer Viewport: Browserfenster **/
        .topmenu li { 
            width: 32%;
            font-size: 1.1rem;
            padding: 15px;
        }
    }
    

    html {
        background: url(munster.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        max-width: 1200px;
        font-family: "Bangers", cursive;
        overflow: scroll;
    }
    
    body {
        position: absolute;
        max-width: 100%;
        margin: 0 0;
        width: 1200px;
        height: auto;
        -webkit-font-smoothing: antialiased;
        background: linear-gradient(-45deg, hsla(115, 68%, 34%, 0.9), hsla(147, 47%, 61%, 0.9), hsla(196, 72%, 49%, 0.9), hsl(166, 72%, 49%, 0.9));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        background-position: center;
        overflow: hidden;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    header {
        background-color: rgba(81, 67, 21, 0.1);
        height: auto;
    }
    
    .cv-cube {
        display: inline-flex;
        position: relative;
        margin-left: 5vw;
        padding: .5em;
        width: auto;
        height: auto;
        background-color: #00A7FF;
        color: #f5d742;
        -webkit-text-stroke-width: .75px;
        -webkit-text-stroke-color: #b80000;
        font-weight: 200;
        font-size: 3em;
        letter-spacing: 2px;
        border-radius: 4px;
        text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
        box-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
        ;
        
    }

    main {
        font-size: 1.5em;
        letter-spacing: .1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        padding: 1rem;
        justify-items: stretch;
        align-items: stretch;
        line-height: 1.5rem;
    }
    
    
    
    img {
        position: relative;
        align-self: flex-end;
        margin-left: auto;
        display: block;
        width: 15rem;
        height: 15rem;
        padding: 2.5rem;
        margin-top: -7.5rem;
    }
    
    h1 {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 2.5vw;
        margin-top: -2.5em;
        padding: -.5em;
        font-size: 4em;
        font-weight: 200;
        font-style: normal;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #b80000;
        -webkit-text-fill-color: #fff001;
        letter-spacing: 3.5px;
        font-family: Bangers;
        text-align: center;
        
        text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
        0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
        0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
        -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
        
        _text-shadow: 9px 7px 5px #A3A3A3;
        _text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
        animation: fadeIn 4s;
        transition: all .75s ease-out;
        
    }
    
    span {
        transform: scale(1.19);
        display: ;
        width: auto;
      }
      span:first-child {
        animation: bop 2.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
          alternate;
      }
      span:last-child {
        animation: bopB 2.6s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
          infinite alternate;
      }
    
    
    @keyframes bop {
      0% {
        transform: scale(0.75);
      }
      50%,
      100% {
        transform: scale(1.1);
      }
    }
    
    @keyframes bopB {
      0% {
        transform: scale(0.75);
      }
      80%,
      100% {
        transform: scale(1) rotateZ(-2.5deg);
      }
    }

    h1:hover {
        transition: all .5s ease-in-out;
        transform: scale(1.1);
        opacity: 1;
        border-radius: 20px;
        -webkit-text-stroke-color: #fff001;
        -webkit-text-fill-color: #b80000;
        text-shadow: 15px 15px 15px rgb(168, 168, 168);
    }
    
    h1::after {
        transition: all 2s ease-in;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    ul {
        padding: .25em;
        font-size: 2.5rem;
        -webkit-text-stroke-width: .75px;
        -webkit-text-stroke-color: #b80000;
        font-style: normal;
        color: #52BB43;
        text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
    }
    
    li {
        list-style: none;
        font-size: 1.5rem;
        font-weight: 200;
        font-style: normal;
        color: #FFF001;
        padding: .125em;
        text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
    }
    
    a {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #b80000;
        text-decoration: none;
        color: #FFF001;
    }
    
    a:hover {
        transform: scale(1.1);
        transition: all .25s ease-in-out;
        color: #EE213F;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FFF001;
        text-decoration: wavy;
    }
    
    footer {
        background-color: rgba(81, 67, 21, 0.2);
        letter-spacing: .0125em;
        font-size: 4rem;
    }
    
    .clip-animation {
        clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%)
    }
    
    .clip-animation {
        animation: clip 8s infinite, fadeIn 8s;
    }
    
    @keyframes clip {
        0% {
            clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%);
        }
        50% {
            clip-path: polygon(84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%, 100% 50%);
        }
        100% {
            clip-path: polygon(91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%, 100% 50%, 84.70057014808336% 54.5684167277018%);
        }
    }