    * {
        box-sizing: border-box;
        overflow: hidden;
    }
    
    html {
        background: white;
        font-family: "Bangers", cursive;
        overflow: scroll;
    }
    
    body {
        position: absolute;
        max-width: 100%;
        position: static;
        margin: 0 auto;
        width: 1280px;
        height: auto;
        background: linear-gradient(-45deg, #26911c, #6dca97, #23a6d5, #23d5ab);
        background-size: 200% 200%;
        animation: gradient 15s ease infinite;
        background-position: center;
        overflow: hidden;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    header {
        background-color: rgba(81, 67, 21, 0.1);
        height: 40vh;
    }
    
    main {
        letter-spacing: .125em;
        display: flex;
        line-height: 2rem;
        height: 35vh;
    }
    
    .cv-cube {
        position: relative;
        margin-left: 10vw;
        padding-top: 12vh;
        padding-left: 2rem;
        width: 10rem;
        height: 10rem;
        background-color: #00A7FF;
        color: #f5d742;
        font-weight: 200;
        font-size: 2rem;
        letter-spacing: 2px;
        border-radius: 4px;
        text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
        box-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
        ;
        overflow: hidden;
    }
    
    img {
        position: relative;
        align-self: flex-end;
        margin-left: auto;
        display: block;
        width: 12rem;
        height: 12rem;
        padding: .5rem;
        border: 1px solid black;
        box-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
        ;
    }
    
    h1 {
        display: block;
        position: relative;
        margin-left: 5vw;
        margin-top: -17.5rem;
        padding: .25em;
        font-size: 5rem;
        font-weight: 200;
        font-style: normal;
        color: #FFF001;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #b80000;
        -webkit-text-fill-color: #fff001;
        -webkit-box-reflect: below -62px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(255, 255, 255, 0.025)));
        letter-spacing: 3.5px;
        font-family: Bangers;
        text-align: center;
        text-shadow: 9px 7px 5px #A3A3A3;
        text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
        animation: fadeIn 8s;
        transition: all 2.5s ease-out;
    }
    
    h1:hover {
        transform: scale(1.1);
        opacity: 1;
        border-radius: 20px;
        transition: all 2s ease-in-out;
        text-shadow: 15px 15px 15px rgb(168, 168, 168);
    }
    
    h1::after {
        transition: all 2s ease-in;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    ul {
        font-size: 2rem;
        font-style: normal;
        color: #52BB43;
        text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
    }
    
    li {
        list-style: none;
        font-weight: 200;
        font-size: 1rem;
        font-style: normal;
        color: #FFF001;
        padding-left: .5rem;
        text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
    }
    
    a {
        text-decoration: none;
        color: #FFF001;
    }
    
    a:hover {
        color: #EE213F;
        text-decoration: wavy;
    }
    
    .personal-data {
        display: inline-block;
        margin-left: 7.5vw;
        width: 20em;
    }
    
    .links {
        display: inline-block;
        flex-direction: row;
        margin-left: 12vw;
        width: 25em;
    }
    
    section {
        position: relative;
        display: flex;
        height: 35vh;
        line-height: 2rem;
        color: #00A7FF;
        text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
    }
    
    .education {
        display: inline-block;
        padding: 2.5em;
        width: 20em;
        margin-top: -1.5rem;
        margin-left: 7.5vw;
    }
    
    #educate {
        margin-top: 0.5em;
        margin-left: -2.5rem;
        width: 20em;
        letter-spacing: .025em;
    }
    
    #vocational {
        letter-spacing: .025em;
        display: inline-block;
        margin-left: -2vw;
        width: 12em;
    }
    
    .career {
        display: inline-block;
        flex-direction: row;
        margin-top: 1.75em;
        margin-left: 11rem;
        padding-left: 3rem;
        width: 40vw;
    }
    
    #years {
        letter-spacing: .025em;
        display: inline-block;
        margin-top: 0.25vh;
        margin-left: -2.5em;
        width: 40vw;
    }
    
    footer {
        background-color: rgba(81, 67, 21, 0.2);
    }
    
    .skills {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    
    #knowledge {
        display: inline-block;
        width: 30vw;
    }
    
    #knowledge>ul {
        font-size: 3vh;
    }
    
    #knowledge>li {
        letter-spacing: .2em;
        font-size: .5em;
    }
    
    .clip-animation {
        clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%)
    }
    
    .clip-animation {
        animation: clip 8s infinite, fadeIn 8s;
    }
    
    @keyframes clip {
        0% {
            clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%);
        }
        50% {
            clip-path: polygon(84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%, 100% 50%);
        }
        100% {
            clip-path: polygon(91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%, 100% 50%, 84.70057014808336% 54.5684167277018%);
        }
    }